<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.fleamarket.domain.account.mapper.AccountSignupMapper">

	<insert id="insertAccount" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			accounts(name, password)
		VALUES
			(#{name}, #{password})
	</insert>
	
	<insert id="insertUser">
		INSERT INTO
			users(account_id, first_name, last_name, email, phone)
		VALUES
			(#{accountId}, #{firstName}, #{lastName}, #{email}, #{phone})
	</insert>
	
</mapper>